<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {% for contact in site.translations[site.lang].footer.contact %}
          {{ contact.title }}: {{ contact.content }} <br />
          {% endfor %}
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        {% for link in site.translations[site.lang].footer.links %}
          <p><a href="{{ link.url }}"> {{ link.title }}</a></p>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Social</h3>
        <div id="social-icons">
          {% for social in site.translations[site.lang].footer.social %}
          <p><a href="{{ social.url }}"> {{ social.title }}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% if site.copyright %}
  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}<br>Powered by <a href="https://github.com/max302/bmuiab" target="_blank">BMUIAB</a></p>
  </div>
  {% endif %}
</footer>
